body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.password-container{
    /* font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f4f4f4; */
    
        width: 500px;  /* Width of the input box */
        height: 250px;  /* Height of the input box */
        font-size: xx-large;  /* Adjust font size for better readability */
        padding: 50px;  /* Add padding for better spacing inside the box */
        border-radius: 5px;  /* Optional: Rounds the corners of the input box */
    

}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0;
}

header a {
    color: #333;
    text-decorat-ion: none;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section p,
section ul {
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
